name: docker image
on: 
  workflow_run:
    workflows: [ci]
    types: 
      - completed

env:
  repot: marcusardenstedt/weather-app

jobs: 
  build-and-push:
    
    runs-on: ubuntu-latest
    steps:
      - name: check out repository
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME_WEATHER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD_WEATHER }}

      - name: Build and push to Dockerhub
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: |
            ${{ env.repot }}:latest
            ${{ env.repot }}:${{ GITHUB_RUN_NUMBER }}
         

